.App {
  text-align: center;
  }

.App-notch {
  background-color: #c79700;
  height: 30px;
}

.App-header-container {
  display: flex;
  justify-content: flex-start;
}

.App-header {
  background-color: #ffc72c;
  height: 60px;
  padding: 30px;
  color: #000;
}

.App-title {
  font-size: 2em;
  color: #000;
}

.Info-container {
  display: flex;
  justify-content: center;
  background-color: #fffa63;
  padding: 20px;
  margin: 30px;
}

.Info-bubble {
  color: #000;
  font-size: 1,5em;
}

.Game-container {
  display: flex;
  flex-direction: column;
}